.header{
  font-family: sans-serif;
  font-size: 15px;
  color:gray;
  text-align: center;
}

.game-info{
  font-size: 12px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color:gray;
}

.jep-board{
  text-align: center;
  position: absolute;
  left:4%;
  margin-top: 20px;
  width: 90%;
  font-size: 12px;
  color:gray;
  border-collapse: collapse;
  border:thin solid black;
}

.new-game{
  width: 100%;
  padding-bottom: 12px;
  text-align: center;
}

.thead{
  color:white;
  border:1px solid black;
  background-color: blue;
  padding:10px;
  min-width: 100px;
}

.row{
  border:thin solid black;
}

.cell{
  cursor: pointer;
  border:thin solid black;
  color: gray;
  padding: 7px;
  min-height: 200px;
  min-width: 100px;
  background-color: white;
}